snippet def
def ${1}(${2}):
	${3}
endsnippet

snippet defr
def ${1}(request${2}):
	${3}
endsnippet

snippet class
class ${1}:
	${0}
endsnippet

snippet classi
class ${1}:
	def __init__(self${2}):
		${0}
endsnippet
