# Alacritty
alias eal='nvim ~/.config/alacritty/alacritty.yml'

# Django + Poetry
alias djn='django_install'
alias djm='python manage.py migrate'
alias djp='django-admin startproject'
alias dja='python manage.py startapp'
alias djr='python manage.py runserver'
alias dji='pip3 install -r requirements.txt'
alias djmm='python manage.py makemigrations'

alias pa='poetry add'
alias dpy='docker-compose exec web pytest'
alias paa='poetry run django-admin startapp'
alias dpa='docker-compose exec web poetry add'
alias dpi='docker-compose exec web poetry add'
alias pm='poetry run python manage.py migrate'
alias pr='poetry run python manage.py runserver'
alias papp='poetry run python manage.py startapp'
alias dpu='docker-compose exec web poetry update'
alias dpr='docker-compose exec web poetry remove'
alias dpug='docker-compose exec web poetry upgrade'
alias pmm='poetry run python manage.py makemigrations'
alias dcov='docker-compose exec web pytest --cov=decoder'
alias dpm='docker-compose exec web poetry run python manage.py migrate'
alias dpyw='docker-compose exec web poetry run ptw --ext=.py,.json --ignore tests_output'

# Docker
alias dl='docker ps'
alias dc='docker-compose'
alias dv='docker volume ls'
alias dce='docker-compose exec'
alias dcs='docker-compose stop'
alias dcd='docker-compose down'
alias dcb='docker-compose build'
alias dcu='docker-compose up -d'
alias dlog='docker-compose logs -f'
alias dx='docker system prune -a -f'
alias dub='docker-compose up -d --build'
alias dclear='docker rm -fv $(docker ps -aq)'
alias dcud='docker-compose -f docker-compose.dev.yml up -d'
alias dcsd='docker-compose -f docker-compose.dev.yml stop'
alias dcup='docker-compose -f docker-compose.prod.yml up -d'
alias dcsp='docker-compose -f docker-compose.prod.yml stop'

# Dotfiles
alias dot='dotfile_tasks'
alias ed='nvim ~/.dotfiles'
alias up='(cd ~/.dotfiles && rake sync)'
alias backup='(cd ~/.dotfiles && rake backup)'
alias clean='ruby ~/.dotfiles/commands/clean_up.rb'
alias icons='python ~/.dotfiles/commands/seticons.py'
alias cleanup='ruby ~/.dotfiles/commands/clean_up.rb ~/Downloads'

# Git
alias lg='lazygit'
alias ga='git add'
alias gp='git pull'
alias gaa='git add .'
alias gst='git status'
alias gc='git commit -m'
alias gnb='git checkout -b'
alias gpu='git push origin master'
alias gdm='git checkout -b dev-master'
alias nah='git reset --hard && git clean -df'
alias gfix='git rm -r --cached . && git add .'

# Homebrew
alias br='brew remove'
alias bu='brew update'
alias bs='brew search'
alias bi='brew install'
alias bupg='brew upgrade && brew cleanup'

# Mac
alias code='open $@ -a "Visual Studio Code"'
alias reloadapps="defaults write com.apple.dock ResetLaunchPad -bool true; killall Dock"

# Misc
alias fk='fuck' # Overwrite mistakes
alias fck='fuck'
alias etxt='extract-text'
alias wifi='wifi-password'
alias div='print_divider'
alias dm='color-mode dark'
alias lm='color-mode light'
alias essh='nvim $HOME/.ssh/config'
alias chmodall='sudo chmod -R 0777'
alias copyssh='pbcopy < $HOME/.ssh/$1'
alias rk='pgrep kitty | xargs kill -SIGUSR1'
alias dotbot='(cd ~/.dotfiles && ./dotbot_install)'
alias dotup='(cd ~/.dotfiles && git submodule update --remote dotbot)'
alias mssh='ruby ~/.dotfiles/commands/ssh.rb'
alias sep='ruby ~/.dotfiles/commands/make_separator.rb'
alias deploy="ssh DigitalOcean 'bash -s' < deploy.sh"

# Neovim / Vim
alias vi='nvim'
alias vim='/opt/homebrew/bin/vim'
alias nvu='(cd ~/.dotfiles && rake update:neovim)'
# alias nvim='VIMRUNTIME=$HOME/.neovim/runtime $HOME/.neovim/build/bin/nvim'

# Nix
# alias nx='nix-shell ~/.dotfiles/.nix/shell.nix'

# PHP
alias cu='composer update'
alias ci='composer install'
alias p='vendor/bin/phpunit'
alias tm='vendor/bin/phpunit'
alias sphp='brew-php-switcher'
alias csu='composer self-update'
alias phpunit='vendor/bin/phpunit'
alias cda='composer dump-autoload'
alias cgu='composer global update'
alias cor='vendor/bin/codecept run'
alias clearlogs='sudo echo -n -f >'
alias pc='clear && vendor/bin/phpunit'
alias tf='vendor/bin/phpunit --filter='
alias phplogs='sudo tail -f /usr/local/var/log/* /usr/local/var/log/nginx/* ~/.valet/Log/* /usr/local/opt/php71/var/log/*'

# Python
alias jup='jupyter notebook'
alias pipb='pip freeze > ~/.dotfiles/PIP.txt'
alias pipi='pip install -r ~/.dotfiles/PIP.txt'
alias jupr="jupyter notebook --NotebookApp.allow_origin='https://colab.research.google.com' --port=9090 --no-browser"

# Rails
alias r='bin/rails'
alias rr='rails routes'
alias rrg='rails routes | grep'
alias rd='rails destroy'
alias rc='rails console'
alias rdb='rails dbconsole'
alias rcs='rails console --sandbox'
alias rs='rails server -p 3001'
alias rsd='rails server --debugger'
alias rsp='rails server --port'
alias rsb='rails server --bind'
alias rup='rails app:update'
alias rds='rails db:setup'
alias rdm='rails db:migrate'
alias rdmr='rails db:migrate:redo'
alias rg='rails generate'
alias rgm='rails generate model'
alias rgc='rails generate controller'
alias rgmi='rails generate migration'
alias rtest='tail -f log/test.log'
alias rdev='tail -f log/development.log'
alias rprod='tail -f log/production.log'

# Ruby
alias rt='rake test'
alias sb='~/.local/share/nvim/lsp_servers/solargraph/bin/solargraph bundle'
alias ug='gem update --system && gem update'

# Shell
alias c='clear'
alias tags='ctags -R'
alias ep='nvim ~/.path'
alias ea='nvim ~/.aliases'
alias et='nvim ~/config/tmux/tmux.conf'
alias ef='nvim ~/.functions'
alias speedup='sudo rm /private/var/log/asl/*.asl'
alias reloaddns='dscacheutil -flushcache && sudo killall -HUP mDNSResponder'

# Shell navigation
alias ..='cd ..'
alias bk='cd -'
alias home='cd ~'
alias ...='cd ../..'
alias desk='cd ~/Desktop'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# Tmux
alias ta='tmux attach -t'               # Attach to an existing Tmux session - Specify a name
alias tsa='tmux-sendall'                # Send a command to all windows and panes that don't have a process running
alias tks='tmux kill-server'            # Kill everything
alias tl='tmux list-sessions'           # List all of the open tmux sessions
alias tn='tmux new-session -s'          # Create a new tmux session - Specify a name
alias tk='tmux kill-session -a'         # Kill all of the OTHER tmux sessions
alias t='tmux attach || tmux new-session'   # Attaches tmux to the last session; creates a new session if none exists.
alias tpi='~/.tmux/plugins/tpm/bin/install_plugins' # Installs Tmux plugins
alias tpu='~/.tmux/plugins/tpm/bin/update_plugins all' # Updates all Tmux plugins
