# Ignore everything except directories
*
!*/

################################### WHITELIST ##################################

# Config
!.config/alacritty/**/*
!.config/bash/**/*
!.config/composer/composer.json
!.config/efm-langserver/**/*
!.config/git/**/*
!.config/hammerspoon/**/*
!.config/karabiner/karabiner.json
!.config/kitty/**/*
!.config/mackup/**/*
!.config/nix/**/*
!.config/nvim/**/*
!.config/snippets/**/*
!.config/ssh/config
!.config/starship/**/*
!.config/tmux/**/*
!.config/vim/**/*
!.config/zsh/**/*

# Dotbot
!dotbot

# Git
!.github/**/*
!.gitignore
!.gitignore_global
!.gitmodules

# Vim
!minimal.vim
!vim/**/*

# others dirs
!bin/**/*
!commands/**/*
!misc/packages/**/*
!tasks/**/*
!tests/**/*

# others files
!.tool-versions
!.config/.color_mode
!install
!install.conf.yaml
!NEOVIM_USAGE.md
!Rakefile
!README.md
!stylua.toml
!uninstall

################################### BLACKLIST ##################################

# Config
.config/nvim/plugin

# Tmux
.config/tmux/plugins
.config/tmux/resurrect

# Zsh
.env
bookmarks

# Others
misc/enhance-rails-intellisense-in-solargraph
.DS_Store
backup

