<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>oli.finance-output</string>
	<key>Program</key>
	<string>/Users/Oli/.dotfiles/bin/finance-output</string>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/Oli/.finance-output-stderr.log</string>
	<key>StandardOutPath</key>
	<string>/Users/Oli/.finance-output-stdout.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>19</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
	</array>
</dict>
</plist>
