[application]
name = My personal synced files and dirs

[configuration_files]

# alacritty
.config/alacritty/alacritty.yml

# applescript
.applescript

# composer
.composer/auth.json
.composer/composer.json

# git
.gitconfig
.gitignore_global

# neovim/vim
.config/nvim/init.lua
.config/nvim/lua
.config/nvim/static
.config/snippets
.vimrc
.vimrc.plugins
.vim/.init.vim
.vim/custom_snippets

# shell
.config/starship
.aliases
.bash_profile
.bashrc
.functions
.path
.tool-versions
.zprofile
.zshrc

# tmux
.tmux
.tmux.conf

# yarn
.yarnrc
.config/yarn/global/package.json

# misc
.agignore
.config/efm-langserver
.ctags
Library/LaunchAgents/oli.dark-mode-notify.plist
Library/Preferences/pl.maketheweb.cleanshotx.plist
Library/Preferences/pl.maketheweb.pixelsnap2.plist