[user]
	name = Oli Morris
	email = olimorris@users.noreply.github.com
[alias]
	pr = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://github.com"]
	useHttpPath = true
[core]
	excludesfile = /Users/Oli/.gitignore_global
	editor = nvim
	pager = delta
[init]
	defaultBranch = main

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true  # use n and N to move between diff sections
	dark = true      # or light = true, or omit for auto-detection

[merge]
	conflictStyle = zdiff3
	tool = delta

[mergetool "delta"]
	cmd = delta --color-only --diff-so-fancy \"$LOCAL\" \"$REMOTE\"

[diff]
	tool = delta
