[user]
	name = Oli Morris
	email = olimorris@users.noreply.github.com
[alias]
	pr = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://github.com"]
	useHttpPath = true
[core]
	excludesfile = /Users/Oli/.gitignore_global
	editor = nvim
[init]
	defaultBranch = main
